#dropdown {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 30px 20px;
    background-image: url('/img/menu.png');
    float: right;
    cursor: pointer;
}

#menu {
    display: none;
    position: relative;
    top: 20px;
    right: 134px;
    z-index: 100;
}

#signin {
    display: none;
    position: relative;
    top: 20px;
    right: 171px;
    z-index: 100;
}

li.drop_item {
    padding: 4px;
    border: 2px solid #000000;
    list-style-type: none;
    white-space: nowrap;
    background-color: #000000;
    color: #ffffff;
}

li.drop_item:hover {
    border: 2px solid #cccccc;
}

a.dropdown_link {
    text-decoration: none;
}