#wrapper {
    width: 800px;
    margin: 20px auto;
}

h4 {
    display: block;
    width: 162px;
    margin: 20px auto;
    white-space: nowrap;
}

#box {
    padding: 10px;
    /*border: 4px double #000000;
    border-radius: 20px;*/
    text-align: center;
}

.intro {
    font-size: 16px;
    line-height: 28px;
}

.word {
    display: inline-block;
    margin: 8px 20px;
    color: #088a68;
    white-span: nowrap;
}

.title {
    font-weight: bold;
    font-size: 16px;
}

.date {
    font-family: Times;
}

@media (max-width: 800px) {
    #wrapper {
	width: 90%;
    }
}