body {
    background-color: #b8dcc3;
}

#box {
    width: 760px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #ffffff;
}

#dropdown {
    margin: 10px 0;
}

#icons {
    border-spacing: 0;
}

#delete {
    float: right;
}

#delete_prompt {
    display: none;
}

.trash {
    cursor: pointer;
}

.buttons {
    float: right;
}

#bottom_links {    
    width: 760px;
    margin: 0 auto;
    background-color: #ffffff;
}

#bottom_filler {
    width: 760px;
    margin: 0 auto;
}

@media (max-width: 800px) {
    #box {
        width: 100%;
    }

    #bottom_links {
	width: 100%;
    }

    #bottom_filler {
	width: 100%;
    }
}