#wrapper {
    margin: 20px;
}

p {
    font-weight: bold;
}

h3 {
    margin: 4px 0;
}

.list_item {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
}

.fake_checkbox {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    border: 1px solid #888888;
}

#search_box {
    margin: 0;
}

#search_btn {
    border: 0;
    background-image: url('/img/search.png');
}

input[type="checkbox"] {
    margin-left: 0;
}

.error {
    color: #ff0000;
}