#box {
    width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
}

#icons {
    border-spacing: 0;
    margin: 0 20px;
}

#menu_btn {
    margin: 20px;
}

#content_body {
    margin: 20px;
}

#delete {
    float: right;
}

#delete_prompt {
    display: none;
}

.trash {
    cursor: pointer;
}

.buttons {
    float: right;
}

@media (max-width: 800px) {
    #box {
        width: 100%;
    }
}