{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block headcss %}
    <link type="text/css" rel="stylesheet" href="/css/about.css">
{% endblock headcss %}

{% block content %}
    <div id="wrapper">
        <table id="title">
            <tr>
                <td><span id="about">About</span></td>
                <td><a href="/"><img src="/img/classifood_180x49.png" alt="logo.png" /></a></td>
            </tr>
        </table>

        <br><br>

        <div id="box">
            <p>Classifood is a web application that provides nutritional information on food products. The application operates like a specialized search engine that yields a list of food products, or no results, per search query. Users can create an account with Classifood using an existing Google account.</p>

            <p>Creating an account with Classifood has several benefits. Firstly, a Classifood user can maintain a shopping list and a pantry on the website. When a user is logged in and conducting search queries, buttons will appear next to products for adding and removing them onto and from a user's shopping list and pantry. These tools may be helpful to users with their shopping and food inventory management.</p>

            <p>Secondly, once signed in, the profile area of the website contains tools for tailoring the information returned via search queries. The profile page contains features for adding nutrients, allergens, additives, and ingredients onto a user's profile. By adding items such as potassium and protein onto the list of nutrients, or gluten and wheat onto the list of allergens, Classifood can flag the products that contain these nutrients and allergens in search results. This feature may be helpful to users who are allergic to certain ingredients.</p>

            <p>We hope Classifood is useful tool that helps improve people's health and lifestyle. If you have any questions, please <a class="always_blue" href="/contact">contact us</a>.</p>
        </div>
    </div>
{% endblock content %}
