<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Classifood - Know What's In Your Food{% endblock title %}</title>

        {% block description %}
            <meta name="description" content="Classifood helps living with diet restrictions easier by providing information on over 200,000 food products and their relations to 17 nutrients, 15 food allergens, 35 food additives, and thousands of ingredients." />
        {% endblock description %}

        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=0" />
        {% endblock viewport %}

        {% block social_media_tags %}
        {% endblock social_media_tags %}

        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <meta name="application-name" content="Classifood" />
        <meta name="msapplication-TileColor" content="#088a68" />
        <meta name="msapplication-square70x70logo" content="/img/classifood_icon_70x70.png" />
        <meta name="msapplication-square150x150logo" content="/img/classifood_icon_150x150.png" />
        <meta name="msapplication-wide310x150logo" content="/img/classifood_310x150.png" />
        <meta name="msapplication-square310x310logo" content="/img/classifood_icon_310x310.png"/>

        <link rel="icon" type="image/ico" href="/img/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/css/jquery-ui-custom-theme/jquery-ui-1.10.3.custom.min.css" />
        <link href="/css/jquery.mmenu.css" type="text/css" rel="stylesheet" />
        <link href="/css/custom_mmenu.css" type="text/css" rel="stylesheet" />
        <link href="/css/mmenu_sizing.css" type="text/css" rel="stylesheet" />
        <link type="text/css" rel="stylesheet" href="/css/base.css" />
        {% block headcss %}
        {% endblock headcss %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script src="/js/jquery.mmenu.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/js/string.js"></script>
        <script type="text/javascript" src="/js/cookie.js"></script>
        <script type="text/javascript" src="/js/display.js"></script>
        <script>
            jQuery(document).ready(function() {
                if (!browser_accepts_cookies()) {
                    jQuery('#cookies_not_accepted_message').show();
                }

                if (!get_cookie('euid')) {
                    jQuery('#menu').html('\
                        <ul>\
                            <li>\
                                <a href="/signin">\
                                    <table><tbody>\
                                        <tr><td><img src="/img/signin.png" alt="signin.png" /></td><td>Sign In with Google</td></tr>\
                                    </tbody></table>\
                                </a>\
                            </li>\
                        </ul>\
                    ');
                }

                jQuery('.button').button();
                refreshBottom();

                jQuery("#menu").mmenu();
                jQuery("#menu_btn").click(function() {
                    jQuery("#menu").data("mmenu").open();
                });

                jQuery('#signout').click(function() {
                    delete_cookie('euid');
                    delete_cookie('session_id');
                    window.location.href = '/';
                });
            });

            jQuery(window).resize(function() {
                refreshBottom();
            });
        </script>
        {% block headjs %}
        {% endblock headjs %}
    </head>

    <body>
        <nav id="menu">
            <ul>
                <li>
                    <a href="/user/shopping_list">
                        <table><tbody>
                            <tr><td><img src="/img/menu_cart.png" alt="menu_cart.png" /></td><td>Shopping List</td></tr>
                        </tbody></table>
                    </a>
                </li>
                <li>
                    <a href="/user/pantry">
                        <table><tbody>
                            <tr><td><img src="/img/menu_pantry.png" alt="menu_pantry.png" /></td><td>Pantry</td></tr>
                        </tbody></table>
                    </a>
                </li>
                <li>
                    <a href="/user/profile">
                        <table><tbody>
                            <tr><td><img src="/img/menu_profile.png" alt="menu_profile.png" /></td><td>Profile</td></tr>
                        </tbody></table>
                    </a>
                </li>
                <li>
                    <a id="signout">
                        <table><tbody>
                            <tr><td><img src="/img/signout.png" alt="signout.png" /></td><td>Sign Out</td></tr>
                        </tbody></table>
                    </a>
                </li>
            </ul>
        </nav>

        {% block top %}
        {% endblock top %}
    
        <div id="js_off_message" "top_message">This website requires JavaScript in order to work properly. Please enable JavaScript in your browser settings.</div>
        <div id="cookies_not_accepted_message" class="top_message hidden">This website requires the ability to set browser cookies in order to work properly. Please enable cookies in your browser settings.</div>

        <!-- Does not need to wait for page to load before hiding this message. -->
        <script>
            jQuery('#js_off_message').hide()
        </script>

        {% block content %}
        {% endblock content %}

        <!-- csrfmiddlewaretoken is needed to use AJAX via HTTP POST -->
        {% csrf_token %}
        
        {% block bottom %}
            <div id="bottom_links">
                <!-- Links at the bottom of the page. -->
                <a class="bottom_link" href="/about">About</a>
                <a class="bottom_link" href="/terms_of_service">Terms of Service</a>
                <a class="bottom_link" href="/privacy_policy">Privacy Policy</a>
                <a class="bottom_link" href="/contact">Contact</a>
                <span id="copyright" class="bottom_link">&#169; 2015 Classifood</span>
            </div>
            <div id="bottom_filler"></div>
        {% endblock bottom %}
    </body>
</html>
