{% extends "search_top.html" %}

{% block headcss2 %}
    <link type="text/css" rel="stylesheet" href="/css/index.css" />
{% endblock headcss2 %}

{% block content %}
    <h4>Home | <a class="always_blue" href="/categories">Food Categories</a></h4>
    <div id="wrapper">
        <p>Approximately 45 million Americans are on diets and 15 million Americans have food allergy. Classifood helps living with diet restrictions easier by providing information on over 200,000 food products and their relations to 17 nutrients, 15 food allergens, 35 food additives, and thousands of ingredients. Sign in with a Google account to learn more.</p>
        <br><br>

        <div id="box">
            <h3>Know What's In Your Food</h3>
            <br>
            <!-- Nutrient, allergen, and additive names go here -->
        </div>
        <script>
            var box = jQuery('#box');
            var nutrients = {{ nutrients }};
            var allergens = {{ allergens }};
            var additives = {{ additives }};

            nutrients.forEach(function(nutrient_name) {
                var span = document.createElement('span');
                span.setAttribute('class', 'word');
                span.textContent = nutrient_name;
                box.append(span);
            });

            allergens.forEach(function(allergen_name) {
                var span = document.createElement('span');
                span.setAttribute('class', 'word');
                span.textContent = allergen_name;
                box.append(span);
            });

            additives.forEach(function(additive_name) {
                var span = document.createElement('span');
                span.setAttribute('class', 'word');
                span.textContent = additive_name;
                box.append(span);
            });
        </script>
    </div>
{% endblock %}
