{% extends "search_top.html" %}

{% block headcss2 %}
    <link type="text/css" rel="stylesheet" href="/css/index.css" />
{% endblock headcss2 %}

{% block headjs2 %}
    <script>
        /*
        jQuery(document).ready(function() {
            jQuery.ajax({
                type: 'GET',
                url: 'http://api.feedzilla.com/v1/categories/11/subcategories/487/articles.json?count=10&order=date',
                dataType: 'json',
                success: function(returned_json, status, jqxhr) {
                    returned_json.articles.forEach(function(article, index, self) {
                        var div = document.createElement('div');
                        div.setAttribute('class', 'article');
                        var title = document.createElement('span');
                        title.setAttribute('class', 'title');
                        title.textContent = article.title;
                        var date = document.createElement('span');
                        date.setAttribute('class', 'date');
                        date.textContent = article.publish_date.substring(0, 16);
                        var summary = document.createElement('span');
                        summary.setAttribute('class', 'summary');
                        summary.textContent = article.summary;
                        var article_link = document.createElement('a');
                        article_link.setAttribute('href', article.url);
                        article_link.setAttribute('target', '_blank');
                        article_link.textContent = 'Full Article';
                        div.appendChild(title);
                        div.appendChild(document.createElement('br'));
                        div.appendChild(date);
                        div.appendChild(document.createElement('br'));
                        div.appendChild(document.createElement('br'));
                        div.appendChild(summary);
                        div.appendChild(article_link);
                        div.appendChild(document.createElement('br'));
                        div.appendChild(document.createElement('br'));
                        jQuery('#articles').append(div);
                    });

                    refreshBottom();
                },
                error: function(jqxhr, status, error) {
                    console.log('Feedzilla error');
                }
            });
        });
        */
        jQuery(document).ready(function() {
            if (get_cookie('euid')) {
                jQuery('#signin_msg').hide();
            }
        });
    </script>
{% endblock headjs2 %}

{% block content %}
    <div id="wrapper">
        <p class="intro">Classifood provides information on over 200,000 food products and their relations to 17 nutrients, 15 food allergens, and 35 food additives. <a class="always_blue" href="/categories" target="_self">See food categories</a> <span id="signin_msg">or <a class="always_blue" href="/signin" target="_self">Sign in</a> to learn more</span></p>

        <div id="box">
            <h3>What's in your food?</h3>
            <br>
            <!-- Nutrient, allergen, and additive names go here -->
        </div>
        <script>
            var box = jQuery('#box');
            var nutrients = {{ nutrients }};
            var allergens = {{ allergens }};
            var additives = {{ additives }};

            nutrients.forEach(function(nutrient_name) {
                var span = document.createElement('span');
                span.setAttribute('class', 'word');
                span.textContent = nutrient_name;
                box.append(span);
            });

            allergens.forEach(function(allergen_name) {
                var span = document.createElement('span');
                span.setAttribute('class', 'word');
                span.textContent = allergen_name;
                box.append(span);
            });

            additives.forEach(function(additive_name) {
                var span = document.createElement('span');
                span.setAttribute('class', 'word');
                span.textContent = additive_name;
                box.append(span);
            });
        </script>

        <br><br>

        <div id="articles"></div>
    </div>
{% endblock %}
