{% extends "base.html" %}

{% block headcss %}
    <link type="text/css" rel="stylesheet" href="/css/search_top.css" />
    {% block headcss2 %}
    {% endblock headcss2 %}
{% endblock headcss %}

{% block headjs %}
    <script>
        jQuery(document).ready(function() {
            // Prevent empty queries
            jQuery('#search_btn').click(function() {
                if (jQuery.trim(jQuery('#q').val()) == '')
                    return false;               
            });
        });
    </script>
    {% block headjs2 %}
    {% endblock headjs2 %}
{% endblock headjs %}

{% block top %}
    <div id="search_top_wrapper">
        <div id="menu_btn">
        </div>
        <table id="top_table">
            <tbody>
                <tr>
                    <td>
                        <a href="/"><img id="logo" src="/img/classifood_180x49.png" alt="logo.png" /></a>
                        <a href="/"><img id="logo_icon" src="/img/classifood_icon_49x49.png" alt="logo_icon.png" /></a>
                    </td>
                    <td style="white-space:nowrap;">
                        <form id="form" action="/search" method="GET">
                            <input id="q" type="text" name="q" value="{{ search_term }}" />
                            <input type="hidden" name="start" value="0" />
                            <input id="search_btn" class="button" type="submit" value="" />
                        </form>                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="search_top_filler"></div>
{% endblock top %}
