{% extends "base.html" %}

{% block headcss %}
    <link type="text/css" rel="stylesheet" href="/css/user.css" />
    {% block headcss2 %}
    {% endblock headcss2 %}
{% endblock headcss %}

{% block headjs %}
    <script type="text/javascript" src="/js/shopping_utils.js"></script>
    <script>
        jQuery(document).ready(function() {           
            jQuery('#signout').click(function() {
                delete_cookie('euid');
                delete_cookie('session_id');
                window.location.href='/';
            });
        });
    </script>
    {% block headjs2 %}
    {% endblock headjs2 %}
{% endblock headjs %}

{% block content %}
    <div id="box">
        <br style="line-height:20px;">
        <div id="menu_btn">
        </div>
        <table id="icons">
            <tr>
                <td><a href="/"><img src="/img/classifood_icon_49x49.png" alt="icon.png" /></a></td>
                <td style="padding-left:10px;">{% block section_icon %}{% endblock section_icon %}</td>
            </tr>
        </table>

        <div id="content_body">
            {% block content_body %}
            {% endblock content_body %}
        </div>
    </div>
{% endblock content %}

