{% extends "user.html" %}

{% block title %}Pantry{% endblock title %}

{% block headcss2 %}
    <link type="text/css" rel="stylesheet" href="/css/user_pantry.css" />
{% endblock headcss2 %}

{% block headjs2 %}
    <script>
        function swap_shopping_buttons(n) {
            if (jQuery('#add_shopping_'+n).is(':hidden')) {
                jQuery('#add_shopping_'+n).show();
                jQuery('#remove_shopping_'+n).hide();
            } else {
                jQuery('#add_shopping_'+n).hide();
                jQuery('#remove_shopping_'+n).show();
            }
        }

        function hide_product(n) {
            jQuery('#product_'+n).hide();
        }
    </script>
{% endblock headjs2 %}

{% block section_icon %}
<a href="/"><img src="/img/full_pantry_49x49.png" alt="full_pantry.png" /></a>
{% endblock section_icon %}

{% block content_body %}
    {% if products %}
        {{ start|add:1 }} to {{ start|add:products_len }} of {{ total }}
        <table id="delete"><tbody>
            <tr>
                <td>
                    <span id="delete_prompt">
                        Delete your pantry?
                        <a class="always_blue" href="/user/delete_pantry">Yes</a> /
                        <a class="always_blue" onclick="jQuery('#delete_prompt').hide();">No</a>
                    </span>
                </td>
                <td>
                    <img class="trash" src="/img/trash.png" alt="trash.png" onclick="jQuery('#delete_prompt').show();" />
                </td>
            </tr>
        </tbody></table>
        <br>
        <br>
        <hr>
        <br>
    {% endif %}

    {% for product in products %}
        <div id="product_{{ forloop.counter }}">
            Added {{ product.t_delta }} ago<br><br>

            <div class="product_name">
                {{ product.product_name }}
                {% if product.product_size %}
                    {{ product.product_size }}
                {% endif %}

                <div id="buttons_{{ forloop.counter }}" class="buttons">
                    <a id="remove_shopping_{{ forloop.counter }}" class="{% if not product.on_shopping_list %}hidden{% endif %}" title="Remove from shopping list" onclick="remove_from_shopping_list('{{ product.upc }}', function(returned_json){if (returned_json.result == 'success') swap_shopping_buttons('{{ forloop.counter }}')});"><img class="img_btn" src="/img/full_cart.png" /></a>
                    <a id="add_shopping_{{ forloop.counter }}" class="{% if product.on_shopping_list %}hidden{% endif %}" title="Add to shopping list" onclick="add_to_shopping_list('{{ product.upc }}', function(returned_json){if (returned_json.result == 'success' || returned_json.result == 'found') swap_shopping_buttons('{{ forloop.counter }}')});"><img class="img_btn" src="/img/empty_cart.png" /></a>
                    <a id="remove_pantry_{{ forloop.counter }}" title="Remove from pantry" onclick="remove_from_pantry('{{ product.upc }}', function(returned_json){hide_product('{{ forloop.counter }}')});"><img class="img_btn" src="/img/full_pantry.png" /></a>
                </div>
            </div>

            {% if product.shelf %}
                <div class="shelf">{{ product.shelf }}</div>
            {% endif %}

            <br>

            <table class="details"><tbody>
                {% if product.contains %}
                    <tr class="contains">
                        <td class="details_col1">Contains:</td>
                        <td class="details_col3" colspan="2">
                            {% for item in product.contains %}
                                {% if forloop.last %}
                                    {{ item }}
                                {% else %}
                                    {{ item }},
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}

                {% if product.may_contain %}
                    <tr class="may_contain">
                        <td class="details_col1">May Contain:</td>
                        <td class="details_col3" colspan="2">
                            {% for item in product.may_contain %}
                                {% if forloop.last %}
                                    {{ item }}
                                {% else %}
                                    {{ item }},
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}

                {% if product.contains or product.may_contain %}
                    <tr><td colspan="3">&nbsp;</td></tr>
                {% endif %}

                {% if product.serving_size %}
                    <tr><td class="details_col1">Serving Size:</td><td class="details_col3" colspan="2">{{ product.serving_size }}{{ product.serving_size_uom }}</td></tr>
                {% endif %}

                {% if product.servings_per_container %}
                    <tr><td class="details_col1">Servings Per Container:</td><td class="details_col3" colspan="2">{{ product.servings_per_container }}</td></tr>
                {% endif %}

                {% for nutrient in product.nutrients %}
                    {% if nutrient.nutrient_value %}
                        {% if forloop.first %}
                            <tr><td colspan="3">&nbsp;</td></tr>
                        {% endif %}
                        <tr><td class="details_col1">{{ nutrient.nutrient_name }}:</td><td class="details_col2">{{ nutrient.nutrient_value }}{{ nutrient.nutrient_uom }}</td><td class="details_col3">{{ nutrient.percentage_value }}</td></tr>
                    {% endif %}
                {% endfor %}

                {% if product.ingredients %}
                    <tr><td colspan="3">&nbsp;</td></tr>
                    <tr><td class="details_col1">Ingredients:</td><td class="details_col3" colspan="2">{{ product.ingredients|lower }}</td></tr>
                {% endif %}

                {% if product.manufacturer %}
                    <tr><td colspan="3">&nbsp;</td></tr>
                    <tr><td class="details_col1">Manufacturer:</td><td class="details_col3" colspan="2">{{ product.manufacturer|upper }}</td></tr>
                {% endif %}
                <tr><td class="details_col1">Barcode:</td><td class="details_col3" colspan="2">{{ product.upc }}</td></tr>
            </tbody></table>
            <br>
            <hr>
            <br>
        </div>
    {% empty %}
        Your pantry is empty.
    {% endfor %}

    <div id="pagination">
        {% if pages|length > 1 %}
            {% for page_start, page_label in pages %}
                {% if page_start == start %}
                    <span class="page_label">{{ page_label }}</span>
                {% else %}
                    <form class="page_form" action="/user/pantry" method="GET">
                        <input type="hidden" name="start" value="{{ page_start }}" />
                        <input class="page_link" type="submit" value="{{ page_label }}" />
                    </form>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock content_body %}
