{% extends "user.html" %}

{% block title %}Profile{% endblock title %}

{% block headcss2 %}
    <link type="text/css" rel="stylesheet" href="/css/user_profile.css" />
{% endblock headcss2 %}

{% block headjs2 %}
    <script type="text/javascript" src="/js/profile_utils.js"></script>
    <script>
        function show_error(msgBox) {
            jQuery(msgBox).addClass('error').text('An error occurred. Please try again later.');
        }

        function show_success(checkbox, msgBox, success) {
            if (success) {
                jQuery(msgBox).addClass('message').text('Updated.');
                setTimeout(function() {
                   jQuery(msgBox).removeClass('message').text('');
                }, 1000);
            } else {
                jQuery(checkbox).prop('checked', !jQuery(checkbox).prop('checked'));
                show_error(msgBox);
            }
        }

        jQuery(document).ready(function() {
            /*
             * Adds or removes a nutrient
             */
            jQuery('.nutrient_container').on('click', '.list_item > .nutrient', function() {
                var nutrient = jQuery(this).attr('name');
                var self = this;
                var on_success = function(returned_json) {
                    show_success(self, jQuery('#nutrient_message'), returned_json.result == 'success');
                }
                var on_error = function() {
                    show_error(jQuery('#nutrient_message'));
                }
                jQuery(self).is(':checked') ? add_nutrient(nutrient, on_success, on_error) : remove_nutrient(nutrient, on_success, on_error);
            });

            /*
             * Adds or removes an allergen
             */
            jQuery('.allergen_container').on('click', '.list_item > .allergen', function() {
                var allergen = jQuery(this).attr('name');
                var self = this;
                var on_success = function(returned_json) {
                    show_success(self, jQuery('#allergen_message'), returned_json.result == 'success');
                }
                var on_error = function(returned_json) {
                    show_error(jQuery('#allergen_message'));
                }
                
                jQuery(self).is(':checked') ? add_allergen(allergen, on_success, on_error) : remove_allergen(allergen, on_success, on_error);
            });

            /*
             * Adds or removes an additive
             */
            jQuery('.additive_container').on('click', '.list_item > .additive', function() {
                var additive = jQuery(this).attr('name');
                var self = this;
                var on_success = function(returned_json) {
                    show_success(self, jQuery('#additive_message'), returned_json.result == 'success');
                }
                var on_error = function(returned_json) {
                    show_error(jQuery('#additive_message'));
                }
                
                jQuery(self).is(':checked') ? add_additive(additive, on_success, on_error) : remove_additive(additive, on_success, on_error);
            });
        });
    </script>
{% endblock headjs2 %}

{% block section_icon %}
    {% if user.group_id == 1 %}
        <a href="/"><img src="/img/profile_49x49.png" alt="profile.png" /></a>
    {% else %}
        <a href="/"><img src="/img/premium_profile_49x49.png" alt="profile.png" /></a>
    {% endif %}
{% endblock section_icon %}

{% block content_body %}
    {% if show_expired %}
        <span class="error">Your subscription has expired.</span>
    {% endif %}

    {% if show_failed_upgrade %}
        <span class="error">Upgrade failed. Please try again.</span>
    {% endif %}

    {% if user.group_id == 1 %}
    <p>
        Gain access to all 17 nutrients, 15 food allergens, and 35 food additives for $8 per 6 months.
        <form action="/checkout" method="POST">
            {% csrf_token %}
            <input type="hidden" name="name" value="Classifood Upgrade" />
            <input type="hidden" name="description" value="Upgrade to give access to all available nutrients, allergens, and additives." />
            <input type="hidden" name="price" value="800" />
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ stripe_public_key }}"
              data-image="/img/classifood_icon_150x150.png"
              data-name="Classifood Upgrade"
              data-description="Upgrade to give access to all available nutrients, allergens, and additives."
              data-amount="800"
              data-currency="USD"
              data-label="Upgrade"
              data-panel-label="Pay"
              data-zip-code="true">
            </script>
        </form>
    </p>
    <br>
    {% endif %}

    <h3>Nutrients</h3>
    <hr>
    Select any nutrients you want to include in search results.<br><br>

    <div id="nutrients" class="nutrient_container">
        {% for nutrient, allow in known_nutrients %}
            {% if nutrient in user_nutrients %}
                <span class="list_item"><input class="nutrient" type="checkbox" name="{{ nutrient }}" checked /> {{ nutrient }}</span>
            {% elif allow and nutrient not in user_nutrients %}
                <span class="list_item"><input class="nutrient" type="checkbox" name="{{ nutrient }}" /> {{ nutrient }}</span>
            {% elif not allow and nutrient not in user_nutrients and user.group_id == 2 %}
                <span class="list_item"><input class="nutrient" type="checkbox" name="{{ nutrient }}" /> {{ nutrient }}</span>
            {% else %}
                <span class="list_item"><span class="fake_checkbox"></span> {{ nutrient }}</span>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <span id="nutrient_message"></span>
    <br><br>


    <h3>Allergen Flags</h3>
    <hr>
    Select any food allergens you want to flag.<br><br>

    <div id="allergens" class="allergen_container">
        {% for allergen, allow in known_allergens %}
            {% if allergen in user_allergens %}
                <span class="list_item"><input class="allergen" type="checkbox" name="{{ allergen }}" checked/> {{ allergen }}</span>
            {% elif allow and allergen not in user_allergens %}
                <span class="list_item"><input class="allergen" type="checkbox" name="{{ allergen }}" /> {{ allergen }}</span>
            {% elif not allow and allergen not in user_allergens and user.group_id == 2 %}
                <span class="list_item"><input class="allergen" type="checkbox" name="{{ allergen }}" /> {{ allergen }}</span>
            {% else %}
                <span class="list_item"><span class="fake_checkbox"></span> {{ allergen }}</span>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <span id="allergen_message"></span>
    <br><br>


    <h3>Additive Flags</h3>
    <hr>
    Select any food additives you want to flag.<br><br>

    <div id="additives" class="additive_container">
        {% for additive, allow in known_additives %}
            {% if additive in user_additives %}
                <span class="list_item"><input class="additive" type="checkbox" name="{{ additive }}" checked /> {{ additive }}</span>
            {% elif allow and additive not in user_additives %}
                <span class="list_item"><input class="additive" type="checkbox" name="{{ additive }}" /> {{ additive }}</span>
            {% elif not allow and additive not in user_additives and user.group_id == 2 %}
                <span class="list_item"><input class="additive" type="checkbox" name="{{ additive }}" /> {{ additive }}</span>
            {% else %}
                <span class="list_item"><span class="fake_checkbox"></span> {{ additive }}</span>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <span id="additive_message"></span>
    <br><br>
{% endblock content_body %}
