{% extends "user.html" %}

{% block title %}Shopping List{% endblock title %}

{% block headcss2 %}
    <link type="text/css" rel="stylesheet" href="/css/user_shopping_list.css" />
{% endblock headcss2 %}

{% block headjs2 %}
    <script>
        function swap_pantry_buttons(n) {
            if (jQuery('#add_pantry_'+n).is(':hidden')) {
                jQuery('#add_pantry_'+n).show();
                jQuery('#remove_pantry_'+n).hide();
            } else {
                jQuery('#add_pantry_'+n).hide();
                jQuery('#remove_pantry_'+n).show();
            }
        }

        function hide_product(n) {
            jQuery('#product_'+n).hide();
        }
    </script>
{% endblock headjs2 %}

{% block section_icon %}
<a href="/"><img id="logo_icon" src="/img/full_cart_49x49.png" alt="full_cart.png" /></a>
{% endblock section_icon %}

{% block content_body %}
    {% if products %}
        {{ start|add:1 }} to {{ start|add:products_len }} of {{ total }}
        <table id="delete"><tbody>
            <tr>
                <td>
                    <span id="delete_prompt">
                        Delete your shoppling list?
                        <a class="always_blue" href="/user/delete_shopping_list">Yes</a> /
                        <a class="always_blue" onclick="jQuery('#delete_prompt').hide();">No</a>
                    </span>
                </td>
                <td>
                    <img class="trash" src="/img/trash.png" alt="trash.png" onclick="jQuery('#delete_prompt').show();" />
                </td>
            </tr>
        </tbody></table>
        <br>
        <br>
        <hr>
        <br>
    {% endif %}

    {% for product in products %}
        <div id="product_{{ forloop.counter }}">
            Added {{ product.t_delta }} ago<br><br>

            <span class="product_name">
                {{ product.product_name }}
                {% if product.product_size %}
                    {{ product.product_size }}
                {% endif %}
            </span>

            {% for allergen in product.allergens %}
                 {% if allergen.allergen_value == '2' %}
                    <span class="contains">Contains {{ allergen.allergen_name }}</span>
                {% elif allergen.allergen_value == '1' %}
                    <span class="may_contain">May Contain {{ allergen.allergen_name }}</span>
                {% endif %}
            {% endfor %}

            {% for additive in product.additives %}
                {% if additive.additive_value == '2' %}
                    <span class="contains">Contains {{ additive.additive_name }}</span>
                {% elif additive.additive_value == '1' %}
                    <span class="may_contain">May Contain {{ additive.additive_name }}</span>
                {% endif %}
            {% endfor %}

            <div id="buttons_{{ forloop.counter }}" class="buttons">
                <a id="remove_shopping_{{ forloop.counter }}" title="Remove from shopping list" onclick="remove_from_shopping_list('{{ product.upc }}', function(){hide_product('{{ forloop.counter }}')});"><img class="img_btn" src="/img/full_cart.png" /></a>
                <a id="remove_pantry_{{ forloop.counter }}" class="{% if not product.in_pantry %}hidden{% endif %}" title="Remove from pantry" onclick="remove_from_pantry('{{ product.upc }}', function(){swap_pantry_buttons('{{ forloop.counter }}')});"><img class="img_btn" src="/img/full_pantry.png" /></a>
                <a id="add_pantry_{{ forloop.counter }}" class="{% if product.in_pantry %}hidden{% endif %}" title="Add to pantry" onclick="add_to_pantry('{{ product.upc }}', function(){swap_pantry_buttons('{{ forloop.counter }}')});"><img class="img_btn" src="/img/empty_pantry.png" /></a>
            </div>

            <br>

            {% if product.shelf %}
                <span class="shelf">{{ product.shelf }}</span><br>
            {% endif %}

            <br>

            <table class="details"><tbody>
                {% if product.serving_size %}
                    <tr><td class="details_col1">Serving Size:</td><td class="details_col3" colspan="2">{{ product.serving_size }}{{ product.serving_size_uom }}</td></tr>
                {% endif %}

                {% if product.servings_per_container %}
                    <tr><td class="details_col1">Servings Per Container:</td><td class="details_col3" colspan="2">{{ product.servings_per_container }}</td></tr>
                {% endif %}

                {% for nutrient in product.nutrients %}
                    {% if nutrient.nutrient_value %}
                        {% if forloop.first %}
                            <tr><td colspan="3">&nbsp;</td></tr>
                        {% endif %}
                        <tr><td class="details_col1">{{ nutrient.nutrient_name }}:</td><td class="details_col2">{{ nutrient.nutrient_value }}{{ nutrient.nutrient_uom }}</td><td class="details_col3">{{ nutrient.percentage_value }}</td></tr>
                    {% endif %}
                {% endfor %}

                {% if product.ingredients %}
                    <tr><td colspan="3">&nbsp;</td></tr>
                    <tr><td class="details_col1">Ingredients:</td><td class="details_col3" colspan="2">{{ product.ingredients|lower }}</td></tr>
                {% endif %}

                {% if product.manufacturer %}
                    <tr><td colspan="3">&nbsp;</td></tr>
                    <tr><td class="details_col1">Manufacturer:</td><td class="details_col3" colspan="2">{{ product.manufacturer|upper }}</td></tr>
                {% endif %}
                <tr><td class="details_col1">Barcode:</td><td class="details_col3" colspan="2">{{ product.upc }}</td></tr>
            </table></tbody>
            <br>
            <hr>
            <br>
        </div>
    {% empty %}
        Your shopping list is empty.
    {% endfor %}

    <div id="pagination">
        {% if pages|length > 1 %}
            {% for page_start, page_label in pages %}
                {% if page_start == start %}
                    <span class="page_label">{{ page_label }}</span>
                {% else %}
                    <form class="page_form" action="/user/shopping_list" method="GET">
                        <input type="hidden" name="start" value="{{ page_start }}" />
                        <input class="page_link" type="submit" value="{{ page_label }}" />
                    </form>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock content_body %}
