{% extends "user.html" %}

{% block title %}Profile{% endblock title %}

{% block headcss2 %}
    <link type="text/css" rel="stylesheet" href="/css/user_profile.css" />
{% endblock headcss2 %}

{% block headjs2 %}
    <script type="text/javascript" src="/js/profile_utils.js"></script>
    <script>
        jQuery(document).ready(function() {
            jQuery('.nutrient_container').on('click', '.list_item > .nutrient', function() {
                var nutrient = jQuery(this).attr('name');
                var parent = jQuery(this).parent();
                var show_error = function() {
                    jQuery('#nutrient_message').text('An error occurred. Please try again later.').show();
                };
                var on_added = function(returned_json) {
                    if (returned_json['result'] == 'success') {
                        jQuery('#nutrients1').append(parent).append('&nbsp;');
                        jQuery('#nutrient_message').hide();
                    } else show_error();                    
                };
                var on_removed = function(returned_json) {
                    if (returned_json['result'] == 'success') {
                        jQuery('#nutrients2').append(parent).append('&nbsp;');
                        jQuery('#nutrient_message').hide();
                    } else show_error();                    
                };

                jQuery(this).is(':checked') ? add_nutrient(nutrient, on_added, show_error) : remove_nutrient(nutrient, on_removed, show_error);
            });

            jQuery('.allergen_container').on('click', '.list_item > .allergen', function() {
                var allergen = jQuery(this).attr('name');
                var parent = jQuery(this).parent();
                var show_error = function() {
                    jQuery('#allergen_message').text('An error occurred. Please try again later.').show();
                };
                var on_added = function(returned_json) {
                    if (returned_json['result'] == 'success') {
                        jQuery('#allergens1').append(parent).append('&nbsp;');
                        jQuery('#allergen_message').hide();
                    } else show_error();
                };
                var on_removed = function(returned_json) {
                    if (returned_json['result'] == 'success') {
                        jQuery('#allergens2').append(parent).append('&nbsp;');
                        jQuery('#allergen_message').hide();
                    } else show_error();
                };
                
                jQuery(this).is(':checked') ? add_allergen(allergen, on_added, show_error) : remove_allergen(allergen, on_removed, show_error);
            });

            jQuery('.additive_container').on('click', '.list_item > .additive', function() {
                var additive = jQuery(this).attr('name');
                var parent = jQuery(this).parent();
                var show_error = function() {
                    jQuery('#additive_message').text('An error occurred. Please try again later.').show();
                };
                var on_added = function(returned_json) {
                    if (returned_json['result'] == 'success') {
                        jQuery('#additives1').append(parent).append('&nbsp;');
                        jQuery('#additive_message').hide();
                    } else show_error();
                };
                var on_removed = function(returned_json) {
                    if (returned_json['result'] == 'success') {
                        jQuery('#additives2').append(parent).append('&nbsp;');
                        jQuery('#additive_message').hide();
                    } else show_error();
                };
                
                jQuery(this).is(':checked') ? add_additive(additive, on_added, show_error) : remove_additive(additive, on_removed, show_error);
            });
        });
    </script>
{% endblock headjs2 %}

{% block section_icon %}
    <a href="/"><img id="logo_icon" src="/img/profile_49x49.png" alt="profile.png" /></a>
{% endblock section_icon %}

{% block content_body %}
    <p>A user may add or remove nutrient, allergen, and additive flags onto his/her profile to tailor search results. Adding too many parameters may slow down search performance.</p>

    <h3>Nutrients</h3>
    <hr>
    Select the nutrients you want to include in search results.<br><br>

    <div id="nutrients1" class="nutrient_container">
        {% for nutrient in user.nutrients %}
            <span class="list_item"><input class="nutrient" type="checkbox" name="{{ nutrient }}" checked /> {{ nutrient }}</span>
        {% endfor %}        
    </div>    
    <div id="nutrients2" class="nutrient_container">
        {% for nutrient in known_nutrients %}
            {% if nutrient not in user.nutrients %}
                <span class="list_item"><input class="nutrient" type="checkbox" name="{{ nutrient }}" /> {{ nutrient }}</span>
            {% endif %}
        {% endfor %}
    </div>
    <span id="nutrient_message" class="errorlist hidden"></span>
    <br><br><br><br>


    <h3>Allergen Flags</h3>
    <hr>
    Select any food allergens you want to flag.<br><br>

    <div id="allergens1" class="allergen_container">
        {% for allergen in user.allergens %}
            <span class="list_item"><input class="allergen" type="checkbox" name="{{ allergen }}" checked /> {{ allergen }}</span>
        {% endfor %}        
    </div>    
    <div id="allergens2" class="allergen_container">
        {% for allergen in known_allergens %}
            {% if allergen not in user.allergens %}
                <span class="list_item"><input class="allergen" type="checkbox" name="{{ allergen }}" /> {{ allergen }}</span>
            {% endif %}
        {% endfor %}
    </div>
    <span id="allergen_message" class="errorlist hidden"></span>
    <br><br><br><br>


    <h3>Additive Flags</h3>
    <hr>
    Select any food additives you want to flag.<br><br>

    <div id="additives1" class="additive_container">
        {% for additive in user.additives %}
            <span class="list_item"><input class="additive" type="checkbox" name="{{ additive }}" checked /> {{ additive }}</span>
        {% endfor %}        
    </div>    
    <div id="additives2" class="additive_container">
        {% for additive in known_additives %}
            {% if additive not in user.additives %}
                <span class="list_item"><input class="additive" type="checkbox" name="{{ additive }}" /> {{ additive }}</span>
            {% endif %}
        {% endfor %}
    </div>
    <span id="additive_message" class="errorlist hidden"></span>
    <br><br><br><br>   
{% endblock content_body %}
