{% extends "user.html" %}

{% block title %}Profile{% endblock title %}

{% block headcss2 %}
    <link type="text/css" rel="stylesheet" href="/css/user_profile.css" />
{% endblock headcss2 %}

{% block headjs2 %}
    <script type="text/javascript" src="/js/profile_utils.js"></script>
    <script>
        var nutrient_count = {{ user.nutrients|length }};
        var allergen_count = {{ user.allergens|length }};
        var additive_count = {{ user.additives|length }};

        jQuery(document).ready(function() {
            /* Take action on clicking add icons */
            jQuery('#add_nutrient').click(function() {
                add_nutrient(jQuery('#new_nutrient').val(), 'nutrient_'+(nutrient_count+1));
            });

            jQuery('#add_allergen').click(function() {
                add_allergen(jQuery('#new_allergen').val(), 'allergen_'+(allergen_count+1));
            });

            jQuery('#add_additive').click(function() {
                add_additive(jQuery('#new_additive').val(), 'additive_'+(additive_count+1));
            });

            /* Take action on pressing 'Enter' while text is focused */
            jQuery('#new_nutrient').keypress(function(event_obj) {
                if (event_obj.which == 13) {
                    add_nutrient(jQuery('#new_nutrient').val(), 'nutrient_'+(nutrient_count+1));
                }
            });

            jQuery('#new_allergen').keypress(function(event_obj) {
                if (event_obj.which == 13) {
                    add_allergen(jQuery('#new_allergen').val(), 'allergen_'+(allergen_count+1));
                }
            });

            jQuery('#new_additive').keypress(function(event_obj) {
                if (event_obj.which == 13) {
                    add_additive(jQuery('#new_additive').val(), 'additive_'+(additive_count+1));
                }
            });
        });
    </script>
{% endblock headjs2 %}

{% block section_icon %}
<a href="/"><img id="logo_icon" src="/img/profile_49x49.png" alt="profile.png" /></a>
{% endblock section_icon %}

{% block content_body %}
    <p>A user may add or remove nutrients, allergens, and additives onto his/her profile to tailor search results. Adding too many parameters can slow down search performance. By default, each profile contains many nutrients, and one allergen to show as examples.</p>

    <h3>Nutrients</h3>
    <hr>

    <div id="nutrients" class="list_block">
        {% for nutrient in user.nutrients %}
            <div id="nutrient_{{ forloop.counter }}" class="list_item">
              {{ nutrient }}
              <a onclick="remove_nutrient('{{ nutrient }}', 'nutrient_{{ forloop.counter }}');"><span class="subtract"></span></a>
            </div>
        {% empty %}
            <span id="no_nutrients">You have not added any nutrients to your profile.</span>
        {% endfor %}
    </div>
    <br>
    <input id="new_nutrient" type="text" value="" />
    <a id="add_nutrient"><span class="add"></span></a>
    <span id="add_nutrient_message" class="errorlist hidden"></span>

    <br><br>

    Nutrient Examples: Calories, Total Fat, Cholesterol, Sodium, Potassium, Total Carbohydrate, Dietary Fiber, Sugars, Protein, Vitamin A, Vitamin C, Calcium, and Iron 

    <br><br><br><br>


    <h3>Allergens</h3>
    <hr>

    <div id="allergens" class="list_block">
        {% for allergen in user.allergens %}
            <div id="allergen_{{ forloop.counter }}" class="list_item">
                {{ allergen }}
                <a onclick="remove_allergen('{{ allergen }}', 'allergen_{{ forloop.counter }}');"><span class="subtract"></span></a>
            </div>
        {% empty %}
            <span id="no_allergens">You have not added any allergens to your profile.</span>
        {% endfor %}
    </div>
    <br>
    <input id="new_allergen" type="text" value="" />
    <a id="add_allergen"><span class="add"></span></a>
    <span id="add_allergen_message" class="errorlist hidden"></span>

    <br><br>

    Allergen Examples: Gluten, Wheat, Peanuts, Egg, Milk, and Fish

    <br><br><br><br>


    <h3>Additives</h3>
    <hr>

    <div id="additives" class="list_block">
        {% for additive in user.additives %}
            <div id="additive_{{ forloop.counter }}" class="list_item">
                {{ additive }}
                <a onclick="remove_additive('{{ additive }}', 'additive_{{ forloop.counter }}');"><span class="subtract"></span></a>
            </div>
        {% empty %}
            <span id="no_additives">You have not added any additives to your profile.</span>
        {% endfor %}
    </div>
    <br>
    <input id="new_additive" type="text" value="" />
    <a id="add_additive"><span class="add"></span></a>
    <span id="add_additive_message" class="errorlist hidden"></span>

    <br><br>

    Additive Examples: Preservatives, Antioxidants, and Vegetable Gum

    <br><br><br><br>

    * Some nutrients, allergens, and additives may not be in our database.<br>
    * Parameter names are case-sensitive (mostly capitalized) and plural-sensitive.<br>    
{% endblock content_body %}
